
@model IEnumerable<CompraList_Web.Models.Item>



<ul class="list-group list-group-flush">

  

        @foreach (var item in Model)
        {

            <li class="list-group-item row">
                <!-- Default checked -->
                <div class="custom-control custom-checkbox">
                    <input class="form-check-input " type="checkbox" checked="@item.Listo" onclick="ChangeStatus(@item.Id)">
                    <label class="form-check-label" for="defaultCheck1">
                        @item.Nombre
                    </label>
                    <span class="badge badge-pill badge-warning ">@item.QuienAgrego</span>
         
                    <i class="fas fa-trash-alt trash" onclick="DeleteItem(@item.Id)"></i>

              
                </div>
            </li>
        }
 
</ul>

